/* basic page styling do not touch */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
/* theme colors have been defined here check on css variables to use them */
:root {
  --dark-blue: #2519b2;
  --light-blue: #94b6ef;
  --light-grey: #e4e3e179;
  --black: #2e2212;
}
body {
  /* do not change this styles */
  background-color: var(--light-grey);
  font-family: "Poppins", sans-serif;
  width: 100%;
}
/* Reset some default styles */

/* Navbar styles */
.navbar {
  background-color: white;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.btns{
  display: flex;
  align-items: center;
}
.btns .contact {
  margin-left: 60px;
  background-color: white;
  color: var(--dark-blue);
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}
.logo img {
  width: 70px;
}
.nav-links li {
  margin-right: 20px;
  color: black;
}
.info button{
  margin-top: 30px;
  background-color: var(--dark-blue);
  color: white;
  margin: auto;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  outline: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.info button:hover{
  background-color: white;
  color: var(--dark-blue);
}
.nav-links a {
  text-decoration: none;
  color: black;
  padding: 0px 20px;
}
.nav-links a:hover {
  color: orangered;
}
.menu-icon {
  display: none; /* Hide initially on larger screens */
  cursor: pointer;
  color: white;
  font-size: 24px;
}
.menu-icon i {
  color: var(--dark-blue);
}
.b-sections img{
width: 50%;
}
.nav-links button {
  background-color: var(--dark-blue);
  color: white;
  margin: auto;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  outline: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.showcasesection {
  background-color: black;
  width: 100%;
  color: white;
  padding: 30px;
}
.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont1 {
  width: 50%;
}
.cont1 span {
  color: var(--light-blue);
  font-size: 15px;
}
.cont1 p {
  font-size: 12px;
  padding: 60px 0px;
  line-height: 2rem;
}
.cont1 img {
  padding-right: 270px;
}
.cont1 button {
  background-color: var(--dark-blue);
  color: white;
  margin: auto;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  outline: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.cont1 button:hover{
  background-color: var(--light-blue);
  color: white;
  transition: 1.5s ease-in;
}
.header {
  text-align: center;
  margin-top: 20px;
}
.header h1 {
  color: var(--dark-blue);
}
.header p {
  font-size: 12px;
}

.col i {
  font-size: 70px;
}
.col p {
  font-size: 15pxs;
}
.col button {
  background-color: var(--dark-blue);
  color: white;
  margin: auto;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  padding: 15px 30px;
  outline: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.row {
  margin-top: 20px;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap: 3rem;
  padding: 20px;
  background-color: var(--light-grey);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.col{
  border-right: 1px solid white;
  padding-right: 10px;
}
.services-section {
  margin: 100px;
}
.portfolio-section{
  background-color: rgba(0, 0, 0, 0.103);
}
.portfolio-section .p-header{
  text-align: center;
  padding-top: 40px;
  font-size: 1.4rem;
}
.p-header  h1{
color: var(--dark-blue);
text-align: center;
}
.filter{
  padding-top: 10px;
}
.filter, button{
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.filter-btn{
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: whitesmoke;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.filter-btn:hover{
  color: orangered;
}
.filter-btnactive{
background-color: white;
color: var(--dark-blue);
padding: 10px 20px;
border: none;
border-radius: 20px;
}
.filter-btnactive:hover{
  background-color: var(--light-blue);
  color: white;
}
.card button{
  background-color: white;
  color: var(--dark-blue);
  margin: auto;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px 30px;
  outline: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.p-images {
  padding-top: 20px;
  display: grid;
  grid-template-rows: 1fr ;
  /* object-fit: cover; */
  object-position: center;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  animation: animate__slideInRight;
}
.p-images img{
  width: 40%;
  height: 40%;
  display: block;
  border-radius: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.skill-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.progress-bar {
  width: 200px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
}
.info p{
  margin-bottom: 20pxk;
}
.progress {
  width: 0;
  
  height: 100%;
  background-color: var(--dark-blue);
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}
.content{
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 50px;
  gap: 2rem;
  align-items: center;
}
.content p{
  width: 100%;
  line-height: 25px;
  padding: 20px 0;
}
.text1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--dark-blue);
}
.text1 i{
  padding-right: 8px;
}
.rows2{
  display: flex;
  justify-content: space-between;
}
.b-sections{
  width: 50%;
}
.card-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  max-width: 520px; 
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.header{
  padding-bottom: 30px;
}
.card h2{
  color: var(--dark-blue);
}
.card p{
  color: white;
}
.card img {
  max-width: 320px;
  height: auto;
}
.btn{
  background-color: var(--dark-blue);
  color: white;
  margin:20px auto;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom:  30px;
  margin-left: 20px; */
  padding: 15px 30px;
  outline: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.card + .card {
  margin-left: 20px;
}
.information{
  display: flex;
  margin-top: 30px;
  color: white;
}
.information i{
  padding-right: 20px;

}
.contact-info {
  color: white;
  font-size: 16px;
}
.contact-info h3{
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
}
.footer{
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 6rem;
}
.links1 ,.about{
  margin-top: 40px;
}
 .links1 ,h1 ,ul ,li a{
  text-decoration:none ;
  list-style-type: none;
  color: black;
  margin-right: 20px;
  padding-bottom:10px ;
  text-align: center;

 }
 .lists1, input{
  padding: 14px;
  margin-top: 20px;
  border: none;
  width: 100%;
  background-color: rgb(75, 83, 83);
  border-radius: 20px;
  color: white;
 }
/* Media 
Queries for responsiveness */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }
.card-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer{
  display: flex;
  flex-direction: column;
}

.card{
  padding: 40px;
}
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--light-grey);
    text-align: center;
    z-index: 1;
  }
  .nav-links a{
    color: var(--dark-blue);
  }

  .navlinks button {
    margin-bottom: 30px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }
  .cont {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btns button {
    padding: 10px 30px;
  }
  .cont1 {
    width: 100%;
  }
  .row {
    display: grid;
    grid-template-columns:  1fr;
    justify-content: center;
  }
  .col{
    width: 100%;
    display: block;
  }
  .services-section{
    margin: 40px;
  }
}
@media (max-width: 991.98px) {
  .nav-links button {
    padding: 10px 50px;
  }
  .footer{
    display: flex;
    flex-direction: column;
  }
  .contact-form input{
    width: 50%;
  }
.links1 input{
  width: 50%;
}
  .row {
    display: grid;
    grid-template-columns:  1fr;
    justify-content: center;
  }
  .btns {
    display: flex;
    justify-content: center;
  }
  .content{
    display: flex;
    flex-direction: column;
  }
  .contact-box{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
  }
}
.contact-box{
  display: flex;
  margin-top: 30px;
  align-items: center;
  background-color: #040211;
  gap: 20px;
  padding: 20px;
}
.contact-form{
background-color: white;
color: black;
width: 100%;
padding-top:20px ;
border-radius: 20px;
}
.contact-form .row1{
  padding: 20px;
}
.row1 input{
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: black;
  color: white;
}
/* ******** PAGE ENDS HERE ********** */
